/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5cb9ed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  padding: 2rem;
}

main {
  display: flex;
  justify-content: center;
}
.mm-container {
  background-color: #fff;
  width: 50%;
  min-width: 400px;
  border: 1px solid #19191a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
.title {
  font-size: 1.8rem;
}
.q-container {
  background-color: #d9d9d9;
  padding: 1.7rem;
  border-radius: 10px;
  margin: 1rem;
  font-family: 'Special Elite', cursive;
}
.quote {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
}
.author {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
  text-align: end;
  padding-right: 15%;
  padding-top: 1.1rem;
}
.f-container,
.ln-container {
  font-size: 1.4rem;
  margin: 0.5rem;
}
.food,
.number {
  font-style: italic;
}
.btn {
  background-color: #5cb9ed;
  min-width: 40%;
  height: 2.5rem;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #5cb9ed;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 0.5rem;
}
.btn:hover {
  background-color: #34a3e4;
  color: rgb(226, 222, 222);
}

/* testing to hide elements */
.hidden {
    display: none;
}